*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #5C1A1B;
    text-align: center;
    color: #BE6E46;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 10rem;
    font-size: 10vmin;
    color: #dbcf97;
    background-color: beige;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #dbcf97;
    color: #5C1A1B;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #dbcf97;
    color: #5C1A1B;
    border-radius: 1rem;
}

#msg{
    color: beige;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display: none;
}